<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Contatos do Bene</span>
    <mat-form-field class="inputsearch" style="right: 0px;">
      <input
        matInput
        placeholder="Buscar contato..."
        (input)="doSearch($event)"
      />
    </mat-form-field>
  </mat-toolbar-row>
  <button
    mat-fab
    color="primary"
    style="position: fixed; bottom:10px; right:10px;"
  ></button>
</mat-toolbar>

<section class="container">
  <mat-action-list> </mat-action-list>
</section>
