<mat-nav-list class="contactForm">
  <mat-form-field appearance="outline" class="inputInfo">
    <mat-label>Nome</mat-label>
    <input matInput placeholder="Nome completo" required />
    <mat-icon matSuffix>account_box</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline" class="inputInfo">
    <mat-label>E-Mail</mat-label>
    <input type="email" matInput placeholder="E-Mail" required />
    <mat-icon matSuffix>contact_mail</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline" class="inputInfo">
    <mat-label>Celular</mat-label>
    <input
      type="tel"
      matInput
      placeholder="Telefone Celular"
      class="inputInfo"
      required
    />
    <mat-icon matSuffix>contact_phone</mat-icon>
  </mat-form-field>
</mat-nav-list>
